name: CI/CD

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'helm/**'
      - 'k8s/**'
      - 'README.md'

permissions:
  contents: write

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - name: Build
        run: go build -o deployquest

      - name: Test
        run: go test ./...

  code-quality:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.56.2

  push-docker:
    runs-on: ubuntu-latest
    needs: code-quality
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set image name and tag
        run: |
          IMAGE_NAME=ahmedhusseinabdelkader/deployquest
          TAG=v$(date +%Y%m%d%H%M%S)
          echo "IMAGE_NAME=$IMAGE_NAME" >> $GITHUB_ENV
          echo "IMAGE_TAG=$TAG" >> $GITHUB_ENV

      - name: Build and Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}
            ${{ env.IMAGE_NAME }}:latest

  update-helm:
    runs-on: ubuntu-latest
    needs: push-docker
    steps:
      - uses: actions/checkout@v4

      - name: Update tag in Helm chart
        run: |
          sed -i 's/tag: .*/tag: "${{ env.IMAGE_TAG }}"/' helm/values.yaml

      - name: Commit and push changes
        run: |
          git config user.email "github-actions@github.com"
          git config user.name "github-actions"
          git add helm/values.yaml
          git commit -m "Update image tag to ${{ env.IMAGE_TAG }}" || echo "No changes"
          git push
